<html>
    <%= stylesheet_link_tag "button" %>
    <div class="row-fluid">
        <div class="span4" style="padding: 1%; background-color: #ffffff;">
            <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; text-decoration: underline;"><big>Sistema de Controle e Gerenciamento de POPs</big></p></b>
        </div>
    </div>

    <body>
        <div class="glow-on-hover" style="padding: 3%; background-color: #ffffff;">  
            <div>
                <p>
                    <%= link_to "CRIAR NOVO POP", new_pop_path, :class => "button", :style => "margin-left: 84px;" %>
                    <%= link_to "CONSULTAR LISTA DE POPs", pops_path, :class => "button" %>
                    <%= link_to "CRIAR NOVO USUÁRIO", new_user_path, :class => "button" %>
                    <%= link_to "USUÁRIOS CADASTRADOS", users_path, :class => "button" %>
                    <%= link_to "SOBRE", about_path, :class => "button", :style => "margin-left: 130px;" %>
                    <%= link_to "POLÍTICA DE PRIVACIDADE", privacy_path, :class => "button" %>
                </p>
            </div>
        </div> 
        <div class="position_img_user">
            <div>
                <%= image_tag 'user_img', :style => "width: 100px; height: 100px;" %>
                <p class="borda2">
                    Nome Usuário
                </p>
            </div>
        </div>
    </body>
</html>





