<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Controle de POPs</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%= csrf_meta_tags %> <! meta tag necessária para salvar e editar formulários> 
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "test.css", "pop.css", "button.css", "header.css", "table.css", "application.css", 
      "footer", "no_footer.css", "print.css", "show_pop.css", "style.css", "table_signature.css", 
      "user.css", "data-turbo-track": "reload" %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
