<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Controle de POPs</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%= csrf_meta_tags %> <! meta tag necess치ria para salvar e editar formul치rios> 
      <%= csp_meta_tag %>
      <!-- link tag de todos os arquivos css utilizados -->
      <%= stylesheet_link_tag "create_account", "error.css", "test.css", "pop.css", "button.css", "header.css", 
      "table.css", "application.css", "footer", "login.css", "no_footer.css", "view_pop.css", "edit_user.css", 
      "print.css", "show_pop.css", "style.css", "table_signature.css", "user.css", "data-turbo-track": "reload" %>
      <!-- link tag para os arquivos javascript -->
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <!-- c칩digos utilizado para o funcionamento da gem devise, verifica se est치 logado -->
        <%= yield %>
        <% if user_signed_in? %>
            Logado como <%= current_user.email %>.
          <% else %>
          <% end %>

          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
    </div>
  </body>
</html>
