<p style="color: green"><%= notice %> <! mensagem de sucesso quando salva o pop> 
<%= stylesheet_link_tag "button", "pop", "table" %>
<%= render 'shared/header' %> 
<div class="row-fluid">
  <div class="span4" style="padding: 1%; background-color: #ffffff;">
    <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; text-decoration: underline;"><big>Procedimentos Operacionais Padrões Cadastrados</big></p></b>
  </div>
</div>

<div class="strong3">
  <%= link_to "MENU PRINCIPAL", inicial_path, :class => "button" %><br><br><br>
</div>

<table class="table">
  <thead>
    <tr>
      <th>NÚMERO DO POP</th>
      <th>SETOR</th>
      <th>DATA DE ELABORAÇÃO</th>
      <th>DATA DA ÚLTIMA REVISÃO</th>
      <th>DATA DA PRÓXIMA REVISÃO</th>
      <th>OPÇÕES</th>
    </tr>
  </thead>
  <div id="pops">
    <tbody>
      <% @pops.each do |pop| %>
        <tr>
          <td><%= pop.pop_number %></td>
          <td><%= pop.pop_sector %></td>
          <td><%= pop.date_day_elaboration %>/<%= pop.date_month_elaboration %>/<%= pop.date_year_elaboration %></td>
          <td><%= pop.date_day_last_revision %>/<%= pop.date_month_last_revision %>/<%= pop.date_year_last_revision %></td>
          <td><%= pop.date_day_next_revision %>/<%= pop.date_month_next_revision %>/<%= pop.date_year_next_revision %></td>
          <td><%= link_to "VISUALIZAR POP", pop, :class => "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>

<%= render 'shared/footer' %> 