<div id="<%= dom_id user %>">

  <p>
    <strong>Nome Completo:</strong>
    <%= user.name %>
  </p>

  <div class="position2">
    <div>
      <%= image_tag(@user.image_url.to_s, :style => "width: 100px; height: 100px;") %>
    </div>
  </div>

  <p>
    <strong>E-mail:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= user.adress %>
 
    <strong>Cidade:</strong>
    <%= user.city %>

    <strong>Estado:</strong>
    <%= user.state %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= user.sector %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Passwordconfirm:</strong>
    <%= user.passwordConfirm %>
  </p>
  
</div>
