<p style="color: green"><%= notice %></p>

<div class="row-fluid">
  <div class="span4" style="padding: 1%; background-color: #ffffff;">
    <b><p style="text-align: center; font-size: 24px; font-family: cambria; color: #3268cc; text-decoration: underline;"><big>Usuário Cadastrado</big></p></b>
  </div>
</div>

<div class="position3">
  <%= link_to "EDITAR", edit_user_path(@user), :class => "button" %>
  <%= link_to "VOLTAR", users_path, :class => "button"%>
</div>

<div class="strong5">
  <%= render @user %>
</div>

<div class="position3">
  <%= button_to "DELETAR USUÁRIO", @user, method: :delete, :class => "button" %><br>
</div>
