<%= stylesheet_link_tag "button", "pop", "table_signature", "show_pop" %>
<div id="<%= dom_id pop %>">
<br>
<div class="campo_title">
  <th><b>Título:</b></th>
  <td><%= pop.titulo %></td>
</div>

<div class="campo_title">
  <th><b>Número do POP:</b></th>
  <td><%= pop.pop_number %></td>
</div>

<div class="campo_title">
  <th><b>Setor do POP:</b></th>
  <td><%= pop.pop_sector %></td>
</div>

<div class="campo_text">
  <th><b>Objetivo:</b></th>
  <td><%= pop.objetivo %></td>
</div>

<div class="campo_text">
  <th><b>Amostra:</b></th>
  <td><%= pop.amostra %></td>
</div>

<div class="campo_text">
  <th><b>Equipamento:</b></th>
  <td><%= pop.equipamento %></td>
</div>

<div class="campo_img">
  <th><b>Imagem do Equipamento:</b></th><br>
  <td><%= image_tag(@pop.imageEquipment_url.to_s, :style => "width: 300px; height: 300px;") %></td>
</div>

<div class="campo_text">
  <th><b>Material:</b></th>
  <td><%= pop.material %></td>
</div>

<div class="campo_img">
  <th><b>Imagem do Material:</b></th><br>
  <td><%= image_tag(@pop.imageMaterial_url.to_s, :style => "width: 300px; height: 300px;") %></td>
</div>

<div class="campo_text">
  <th><b>Calibração:</b></th>
  <td><%= pop.calibracao %></td>
</div>

<div class="campo_text">
  <th><b>Controle de Qualidade:</b></th>
  <td><%= pop.controleQualidade %></td>
</div>

<div class="campo_text">
  <th><b>Aplicabilidade:</b></th>
  <td><%= pop.aplicabilidade %></td>
</div>

<div class="campo_text">
  <th><b>Descrição:</b></th>
  <td><%= pop.descricao %></td>
</div>

<div class="campo_text">
  <th><b>Cálculos:</b></th>
  <td><%= pop.calculos %></td>
</div>

<div class="campo_text">
  <th><b>Resultados:</b></th>
  <td><%= pop.resultados %></td>
</div>

<div class="campo_text">
  <th><b>Comentários:</b></th>
  <td><%= pop.comentarios %></td>
</div>

<div class="campo_text">
  <th><b>Responsabilidade:</b></th>
  <td><%= pop.responsabilidade %></td>
</div>

<div class="campo_text">
  <th><b>Autoridade:</b></th>
  <td><%= pop.autoridade %></td>
</div>

<div class="campo_text">
  <th><b>Normas de Segurança:</b></th>
  <td><%= pop.normasSeguranca %></td>
</div>

<div class="campo_text">
  <th><b>Treinamento:</b></th>
  <td><%= pop.treinamento %></td>
</div>

<div class="campo_text">
  <th><b>Documentos Relacionados:</b></th>
  <td><%= pop.documentosRelacionados %></td>
</div>

<div class="campo_text">
  <th><b>Referências Normativas:</b></th>
  <td><%= pop.referenciasNormativas %></td>
</div>

<div class="campo_text">
  <th><b>Fluxograma:</b></th>
  <td><%= pop.fluxograma %></td>
</div>

<div class="campo_img">
  <th><b>Imagem do Fluxograma:</b></th><br>
  <td><%= image_tag(@pop.imageFlowchart_url.to_s, :style => "width: 900px; height: 300px;") %></td>
</div>

<div class="campo_text">
  <th><b>Controle de Registro:</b></th>
  <td><%= pop.controleRegistro %></td>
</div>

<div class="campo_text">
  <th><b>Anexos:</b></th>
  <td><%= pop.anexos %></td>
</div>

<div>
  <table class="table_signature">
    <tr>
      <th>Elaborado:</th>
      <th>Revisado:</th>
      <th>Formatado:</th>
      <th>Validado:</th>
      <th>Aprovado</th>
    </tr>
    <tr>
      <td><br><br><br><strong>_______________________</strong><br><%= pop.elaborado1 %><br>
      <%= pop.functionE1 %><strong><br>COREN/SC</strong><br><%= pop.corenE1 %><br><br><br><br><br>
      <strong>_______________________</strong><br><%= pop.elaborado2 %><br><%= pop.functionE2 %><br>
      <strong>COREN/SC</strong><br><%= pop.corenE2 %><br><br><br></td>

      <td><br><br><br><strong>_______________________</strong><br><%= pop.revisado %><br>
      <%= pop.functionR1 %><br><strong>COREN/SC</strong><br><%= pop.corenR1 %></td>

      <td><br><br><br><strong>_______________________</strong><br><%= pop.formatado %><br>
      <%= pop.functionF1 %><br><strong>COREN/SC</strong><br><%= pop.corenF1 %></td>

      <td><br><br><br><strong>_______________________</strong><br><%= pop.validado1 %><br>
      <%= pop.functionV1 %><strong><br>COREN/SC</strong><br><%= pop.corenV1 %><br><br><br><br><br>
      <strong>_______________________</strong><br><%= pop.validado2 %><br><%= pop.functionV2 %><br>
      <strong>COREN/SC</strong><br><%= pop.corenV2 %><br><br><br></td>

      <td><br><br><br><strong>_______________________</strong><br><%= pop.aprovado %><br>
      <%= pop.functionA1 %><br><strong>COREN/SC</strong><br><%= pop.corenA1 %></td>
    </tr>
  </table>
</div>

<div>
  <table class="table_signature">
    <tr>
      <th>Data de Aprovação:</th>
      <th>Data de Implementação:</th>
    </tr>
    <tr>
      <td><%= pop.day_approval %>/<%= pop.month_approval %>/<%= pop.year_approval %></td>
      <td><%= pop.day_implement %>/<%= pop.month_implement %>/<%= pop.year_implement %></td>
    </tr>
  </table>
</div>