<div id="<%= dom_id pop %>">
  <p>
    <strong>Titulo:</strong>
    <%= pop.titulo %>
  </p>

  <p>
    <strong>Objetivo:</strong>
    <%= pop.objetivo %>
  </p>

  <p>
    <strong>Amostra:</strong>
    <%= pop.amostra %>
  </p>

  <p>
    <strong>Equipamento:</strong>
    <%= pop.equipamento %>
  </p> 

  <p>
    <strong>Imagem equipamento:</strong>
    <%= image_tag(@pop.imagemequip_url.to_s) %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= pop.material %>
  </p>

  <p>
    <strong>Calibracao:</strong>
    <%= pop.calibracao %>
  </p>

  <p>
    <strong>Controlequalidade:</strong>
    <%= pop.controleQualidade %>
  </p>

  <p>
    <strong>Aplicabilidade:</strong>
    <%= pop.aplicabilidade %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= pop.descricao %>
  </p>

  <p>
    <strong>Calculos:</strong>
    <%= pop.calculos %>
  </p>

  <p>
    <strong>Resultados:</strong>
    <%= pop.resultados %>
  </p>

  <p>
    <strong>Comentários:</strong>
    <%= pop.comentarios %>
  </p>

  <p>
    <strong>Responsabilidade:</strong>
    <%= pop.responsabilidade %>
  </p>

  <p>
    <strong>Autoridade:</strong>
    <%= pop.autoridade %>
  </p>

  <p>
    <strong>Normasseguranca:</strong>
    <%= pop.normasSeguranca %>
  </p>

  <p>
    <strong>Treinamento:</strong>
    <%= pop.treinamento %>
  </p>

  <p>
    <strong>Documentosrelacionados:</strong>
    <%= pop.documentosRelacionados %>
  </p>

  <p>
    <strong>Referenciasnormativas:</strong>
    <%= pop.referenciasNormativas %>
  </p>

  <p>
    <strong>Fluxograma:</strong>
    <%= pop.fluxograma %>
  </p>

  <p>
    <strong>Controleregistro:</strong>
    <%= pop.controleRegistro %>
  </p>

  <p>
    <strong>Anexos:</strong>
    <%= pop.anexos %>
  </p>

  <p>
    <strong>Elaborado1:</strong>
    <%= pop.elaborado1 %>
  </p>

  <p>
    <strong>Elaborado2:</strong>
    <%= pop.elaborado2 %>
  </p>

  <p>
    <strong>Revisado:</strong>
    <%= pop.revisado %>
  </p>

  <p>
    <strong>Formatado:</strong>
    <%= pop.formatado %>
  </p>

  <p>
    <strong>Validado1:</strong>
    <%= pop.validado1 %>
  </p>

  <p>
    <strong>Validado2:</strong>
    <%= pop.validado2 %>
  </p>

  <p>
    <strong>Aprovado:</strong>
    <%= pop.aprovado %>
  </p>

  <p>
    <strong>Dataaprovacao:</strong>
    <%= pop.dataAprovacao %>
  </p>

  <p>
    <strong>Dataimplementacao:</strong>
    <%= pop.dataImplementacao %>
  </p>

</div>
