<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Controle de POPs</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %> <! meta tag necessária para salvar e editar formulários> 
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <%= image_tag 'logo', :align=> "center" %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>

  <nav class="footer">
    <div class="footer-basic">
      <footer>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.hro.org.br/">Hospital Regional do Oeste - HRO</a></li>
          <li class="list-inline-item"><a href="https://www.unochapeco.edu.br/">Universidade Comunitária da Região de Chapecó - Unochapecó</a></li>
        </ul>
        <p class="copyright">Desenvolvido por Universidade Comunitária da Região de Chapecó - Unochapecó © 2023. Todos os direitos reservados. - versão 0.1.1</p>
        <br>
      </footer>
    </div>
  </nav>
</html>
